<div [@routerTransition]>
  <app-page-header [heading]="'Business List'" [icon]="'fa fa-th-list'"></app-page-header>
  <form #businessreviewForm="ngForm">
    <div class="card card-outline-secondary">
      <div class="card-body">
        <div class="form-group row">
          <div class="col-lg-1">
            <img class="user-avatar" src="assets/images/logo1.png" height="90px;" />
          </div>
          <div class="col-lg-10">
            <label class="col-form-label form-control-label" style="font-weight: bold;">ABC Restaurant</label>
            <br />
            <label class="col-form-label form-control-label">101 Street, London</label>
            <br />
            <label class="col-form-label form-control-label">ABC Restaurant Details</label>
          </div>
          <div class="col-lg-1">
            <div>
              <button type="submit" class="btn btn-info" style="width: 90px;"  [routerLink]="['/addbusinessdetail']" >
                <i class="fa fa-pencil" aria-hidden="true"></i> Edit
              </button>
            </div>
            <br />
            <div>
              <button type="submit" class="btn btn-danger" style="width: 90px;">
                <i class="fa fa-trash-o"></i> Delete</button>
            </div>
          </div>
        </div>
        <hr style="border: 1px solid #1C77C0;" />
        <div class="form-group row">
          <div class="col-lg-1">
            <img class="user-avatar" src="assets/images/logo1.png" height="90px;" />
          </div>
          <div class="col-lg-10">
            <label class="col-form-label form-control-label" style="font-weight: bold;">PQR Restaurant</label>
            <br />
            <label class="col-form-label form-control-label">B/901, Main Road, New York</label>
            <br />
            <label class="col-form-label form-control-label">PQR Restaurant Details</label>
          </div>
          <div class="col-lg-1">
            <div>
              <button type="submit" class="btn btn-info" style="width: 90px;" [routerLink]="['/addbusinessdetail']">
                <i class="fa fa-pencil" aria-hidden="true"></i> Edit
              </button>
            </div>
            <br />
            <div>
              <button type="submit" class="btn btn-danger" style="width: 90px;">
                <i class="fa fa-trash-o"></i> Delete</button>
            </div>
          </div>
        </div>
        <hr style="border: 1px solid #1C77C0;" />
        <div class="form-group row">
          <div class="col-lg-1">
            <img class="user-avatar" src="assets/images/logo1.png" height="90px;" />
          </div>
          <div class="col-lg-10">
            <label class="col-form-label form-control-label" style="font-weight: bold;">XYZ Restaurant</label>
            <br />
            <label class="col-form-label form-control-label">FF -1, Centre Square, London</label>
            <br />
            <label class="col-form-label form-control-label">XYZ Restaurant Details</label>
          </div>
          <div class="col-lg-1">
            <div>
              <button type="submit" class="btn btn-info" style="width: 90px;" [routerLink]="['/addbusinessdetail']">
                <i class="fa fa-pencil" aria-hidden="true"></i> Edit
              </button>
            </div>
            <br />
            <div>
              <button type="submit" class="btn btn-danger" style="width: 90px;">
                <i class="fa fa-trash-o"></i> Delete</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>
