<div>
  <app-page-header [heading]="'Additonal Business Details'" [icon]="'fa fa-plus'"></app-page-header>
  <ngb-tabset>
    <ngb-tab title="Location">
      <ng-template ngbTabContent>
        <br>
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false"
          (mapClick)="mapClicked($event)">

          <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat"
            [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">

            <agm-info-window>
              <strong>InfoWindow content</strong>
            </agm-info-window>

          </agm-marker>

          <agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="5000" [fillColor]="'red'" [circleDraggable]="true"
            [editable]="true">
          </agm-circle>

        </agm-map>

      </ng-template>
    </ngb-tab>
    <ngb-tab title="Business Hours">
      <ng-template ngbTabContent>
        <br>
        <div class="card card-outline-secondary">
          <div class="card-body">
            <div class="form-group row">
              <label class="col-lg-1 col-form-label form-control-label">Monday</label>
              <label class="col-form-label form-control-label">From</label>
              <div class="col-lg-1">
                <select class="form-control" required>
                  <option [ngValue]="0" selected>10:00</option>
                </select>
              </div>
              <label class="col-form-label form-control-label">To</label>
              <div class="col-lg-1">
                <select class="form-control" required>
                  <option [ngValue]="0" selected>17:00</option>
                </select>
              </div>
              <label class="col-form-label form-control-label">Closed ?</label>
              <div class="col-lg-1 col-form-label form-control-label">
                <input class="checkbox-inline" type="checkbox">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-1 col-form-label form-control-label">Tuesday</label>
              <label class="col-form-label form-control-label">From</label>
              <div class="col-lg-1">
                <select class="form-control" required>
                  <option [ngValue]="0" selected>10:00</option>
                </select>
              </div>
              <label class="col-form-label form-control-label">To</label>
              <div class="col-lg-1">
                <select class="form-control" required>
                  <option [ngValue]="0" selected>17:00</option>
                </select>
              </div>
              <label class="col-form-label form-control-label">Closed ?</label>
              <div class="col-lg-1 col-form-label form-control-label">
                <input class="checkbox-inline" type="checkbox">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-1 col-form-label form-control-label">Wednesday</label>
              <label class="col-form-label form-control-label">From</label>
              <div class="col-lg-1">
                <select class="form-control" required>
                  <option [ngValue]="0" selected>10:00</option>
                </select>
              </div>
              <label class="col-form-label form-control-label">To</label>
              <div class="col-lg-1">
                <select class="form-control" required>
                  <option [ngValue]="0" selected>17:00</option>
                </select>
              </div>
              <label class="col-form-label form-control-label">Closed ?</label>
              <div class="col-lg-1 col-form-label form-control-label">
                <input class="checkbox-inline" type="checkbox">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-1 col-form-label form-control-label">Thursday</label>
              <label class="col-form-label form-control-label">From</label>
              <div class="col-lg-1">
                <select class="form-control" required>
                  <option [ngValue]="0" selected>10:00</option>
                </select>
              </div>
              <label class="col-form-label form-control-label">To</label>
              <div class="col-lg-1">
                <select class="form-control" required>
                  <option [ngValue]="0" selected>17:00</option>
                </select>
              </div>
              <label class="col-form-label form-control-label">Closed ?</label>
              <div class="col-lg-1 col-form-label form-control-label">
                <input class="checkbox-inline" type="checkbox">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-1 col-form-label form-control-label">Friday</label>
              <label class="col-form-label form-control-label">From</label>
              <div class="col-lg-1">
                <select class="form-control" required>
                  <option [ngValue]="0" selected>10:00</option>
                </select>
              </div>
              <label class="col-form-label form-control-label">To</label>
              <div class="col-lg-1">
                <select class="form-control" required>
                  <option [ngValue]="0" selected>17:00</option>
                </select>
              </div>
              <label class="col-form-label form-control-label">Closed ?</label>
              <div class="col-lg-1 col-form-label form-control-label">
                <input class="checkbox-inline" type="checkbox">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-1 col-form-label form-control-label">Saturday</label>
              <label class="col-form-label form-control-label">From</label>
              <div class="col-lg-1">
                <select class="form-control" required>
                  <option [ngValue]="0" selected>10:00</option>
                </select>
              </div>
              <label class="col-form-label form-control-label">To</label>
              <div class="col-lg-1">
                <select class="form-control" required>
                  <option [ngValue]="0" selected>17:00</option>
                </select>
              </div>
              <label class="col-form-label form-control-label">Closed ?</label>
              <div class="col-lg-1 col-form-label form-control-label">
                <input class="checkbox-inline" type="checkbox">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-1 col-form-label form-control-label">Sunday</label>
              <label class="col-form-label form-control-label">From</label>
              <div class="col-lg-1">
                <select class="form-control" required>
                  <option [ngValue]="0" selected>10:00</option>
                </select>
              </div>
              <label class="col-form-label form-control-label">To</label>
              <div class="col-lg-1">
                <select class="form-control" required>
                  <option [ngValue]="0" selected>17:00</option>
                </select>
              </div>
              <label class="col-form-label form-control-label">Closed ?</label>
              <div class="col-lg-1 col-form-label form-control-label">
                <input class="checkbox-inline" type="checkbox">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-1">
                <button type="submit" class="btn btn-info">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i> Submit
                </button>
              </div>
              <div class="col-lg-1">
                <button type="submit" class="btn btn-danger" type="button">
                  <i class="fa fa-repeat"></i>
                  Reset</button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Images">
      <ng-template ngbTabContent>
        <br>

      </ng-template>
    </ngb-tab>

    <ngb-tab title="Videos">
        <ng-template ngbTabContent>
          <br>
  
        </ng-template>
      </ngb-tab>

    <ngb-tab title="Business Information">
      <ng-template ngbTabContent>
        <br>
        <div class="card card-outline-secondary">
          <div class="card-body">
            <div class="form-group row">
              <label class="col-lg-2 col-form-label form-control-label">Accept Credit Cards</label>
              <div class="col-lg-2 col-form-label form-control-label">
                <input class="checkbox-inline" type="checkbox">
              </div>
              <label class="col-lg-2 col-form-label form-control-label">Accept Apple Pay</label>
              <div class="col-lg-2 col-form-label form-control-label">
                <input class="checkbox-inline" type="checkbox">
              </div>
              <label class="col-lg-2 col-form-label form-control-label">Accept Goolge Pay</label>
              <div class="col-lg-2 col-form-label form-control-label">
                <input class="checkbox-inline" type="checkbox">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-2 col-form-label form-control-label">Happy Hour Specials</label>
              <div class="col-lg-2 col-form-label form-control-label">
                <input class="checkbox-inline" type="checkbox">
              </div>
              <label class="col-lg-2 col-form-label form-control-label">Good For Happy Hour</label>
              <div class="col-lg-2 col-form-label form-control-label">
                <input class="checkbox-inline" type="checkbox">
              </div>
              <label class="col-lg-2 col-form-label form-control-label">Smoking Zone</label>
              <div class="col-lg-2 col-form-label form-control-label">
                <input class="checkbox-inline" type="checkbox">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-2 col-form-label form-control-label">Access Wi-Fi</label>
              <div class="col-lg-2 col-form-label form-control-label">
                <input class="checkbox-inline" type="checkbox">
              </div>
              <label class="col-lg-2 col-form-label form-control-label">Has Television</label>
              <div class="col-lg-2 col-form-label form-control-label">
                <input class="checkbox-inline" type="checkbox">
              </div>
              <label class="col-lg-2 col-form-label form-control-label">Takes Reservations</label>
              <div class="col-lg-2 col-form-label form-control-label">
                <input class="checkbox-inline" type="checkbox">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-2 col-form-label form-control-label">Has Dairy-Free Products</label>
              <div class="col-lg-2 col-form-label form-control-label">
                <input class="checkbox-inline" type="checkbox">
              </div>
              <label class="col-lg-2 col-form-label form-control-label">Liked By Vegetarians</label>
              <div class="col-lg-2 col-form-label form-control-label">
                <input class="checkbox-inline" type="checkbox">
              </div>
              <label class="col-lg-2 col-form-label form-control-label">Delivery</label>
              <div class="col-lg-2 col-form-label form-control-label">
                <input class="checkbox-inline" type="checkbox">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-2 col-form-label form-control-label">Good For Kids</label>
              <div class="col-lg-2 col-form-label form-control-label">
                <input class="checkbox-inline" type="checkbox">
              </div>
              <label class="col-lg-2 col-form-label form-control-label">Good For Groups</label>
              <div class="col-lg-2 col-form-label form-control-label">
                <input class="checkbox-inline" type="checkbox">
              </div>
              <label class="col-lg-2 col-form-label form-control-label">Good For Family</label>
              <div class="col-lg-2 col-form-label form-control-label">
                <input class="checkbox-inline" type="checkbox">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-1">
                <button type="submit" class="btn btn-info">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i> Submit
                </button>
              </div>
              <div class="col-lg-1">
                <button type="submit" class="btn btn-danger" type="button">
                  <i class="fa fa-repeat"></i>
                  Reset</button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Offers">
      <ng-template ngbTabContent>
        <br>
        <div class="card card-outline-secondary">
          <div class="card-body">
            <div class="form-group row">
              <label class="col-lg-2 col-form-label form-control-label">Offer Description</label>
              <div class="col-lg-6 col-form-label form-control-label">
                <textarea class="form-control" type="text" placeholder="Offer Description" required style="height: 150px;"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-2 col-form-label form-control-label">Offer Image</label>
              <div class="col-lg-6 col-form-label form-control-label">
                <input type="file" name="pic" accept="image/*">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-1">
                <button type="submit" class="btn btn-info">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i> Submit
                </button>
              </div>
              <div class="col-lg-1">
                <button type="submit" class="btn btn-danger" type="button">
                  <i class="fa fa-repeat"></i>
                  Reset</button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>
</div>
