<div>
  <app-page-header [heading]="'Add Business Details'" [icon]="'fa fa-plus'"></app-page-header>
  <!-- <ngb-tabset type="pills">
    <ngb-tab title="Location">
      <ng-template ngbTabContent>
      
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Business Hours">
      <ng-template ngbTabContent>

      </ng-template>
    </ngb-tab>

    <ngb-tab title="Specialist">
      <ng-template ngbTabContent>

      </ng-template>
    </ngb-tab>
  </ngb-tabset> -->



  <ngb-tabset>
    <ngb-tab title="Location">
      <ng-template ngbTabContent>
        <br>
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>

      </ng-template>
    </ngb-tab>
    <ngb-tab title="Business Hours">
      <ng-template ngbTabContent>
        <br>

      </ng-template>
    </ngb-tab>

    <ngb-tab title="Images">
      <ng-template ngbTabContent>
        <br>

      </ng-template>
    </ngb-tab>

    <ngb-tab title="Business Information">
      <ng-template ngbTabContent>
        <br>
        <div>
          <div class="card card-outline-secondary">
            <div class="card-body">
              <div class="form-group row">
                <label class="col-lg-2 col-form-label form-control-label">Accept Credit Cards</label>
                <div class="col-lg-2 col-form-label form-control-label">
                  <input class="checkbox-inline" type="checkbox">
                </div>
                <label class="col-lg-2 col-form-label form-control-label">Accept Apple Pay</label>
                <div class="col-lg-2 col-form-label form-control-label">
                  <input class="checkbox-inline" type="checkbox">
                </div>
                <label class="col-lg-2 col-form-label form-control-label">Accept Goolge Pay</label>
                <div class="col-lg-2 col-form-label form-control-label">
                  <input class="checkbox-inline" type="checkbox">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-2 col-form-label form-control-label">Happy Hour Specials</label>
                <div class="col-lg-2 col-form-label form-control-label">
                  <input class="checkbox-inline" type="checkbox">
                </div>
                <label class="col-lg-2 col-form-label form-control-label">Good For Happy Hour</label>
                <div class="col-lg-2 col-form-label form-control-label">
                  <input class="checkbox-inline" type="checkbox">
                </div>
                <label class="col-lg-2 col-form-label form-control-label">Smoking Zone</label>
                <div class="col-lg-2 col-form-label form-control-label">
                  <input class="checkbox-inline" type="checkbox">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-2 col-form-label form-control-label">Access Wi-Fi</label>
                <div class="col-lg-2 col-form-label form-control-label">
                  <input class="checkbox-inline" type="checkbox">
                </div>
                <label class="col-lg-2 col-form-label form-control-label">Has Television</label>
                <div class="col-lg-2 col-form-label form-control-label">
                  <input class="checkbox-inline" type="checkbox">
                </div>
                <label class="col-lg-2 col-form-label form-control-label">Takes Reservations</label>
                <div class="col-lg-2 col-form-label form-control-label">
                  <input class="checkbox-inline" type="checkbox">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-2 col-form-label form-control-label">Has Dairy-Free Products</label>
                <div class="col-lg-2 col-form-label form-control-label">
                  <input class="checkbox-inline" type="checkbox">
                </div>
                <label class="col-lg-2 col-form-label form-control-label">Liked By Vegetarians</label>
                <div class="col-lg-2 col-form-label form-control-label">
                  <input class="checkbox-inline" type="checkbox">
                </div>
                <label class="col-lg-2 col-form-label form-control-label">Delivery</label>
                <div class="col-lg-2 col-form-label form-control-label">
                  <input class="checkbox-inline" type="checkbox">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-2 col-form-label form-control-label">Good For Kids</label>
                <div class="col-lg-2 col-form-label form-control-label">
                  <input class="checkbox-inline" type="checkbox">
                </div>
                <label class="col-lg-2 col-form-label form-control-label">Good For Groups</label>
                <div class="col-lg-2 col-form-label form-control-label">
                  <input class="checkbox-inline" type="checkbox">
                </div>
                <label class="col-lg-2 col-form-label form-control-label">Good For Family</label>
                <div class="col-lg-2 col-form-label form-control-label">
                  <input class="checkbox-inline" type="checkbox">
                </div>
              </div>
              <div class="form-group row">
                  <div class="col-lg-1">
                    <button type="submit" class="btn btn-info">
                      <i class="fa fa-floppy-o" aria-hidden="true"></i> Submit
                    </button>
                  </div>
                  <div class="col-lg-1">
                    <button type="submit" class="btn btn-danger" type="button">
                      <i class="fa fa-repeat"></i>
                      Reset</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>
</div>
