<div [@routerTransition]>
  <app-page-header [heading]="'City Master'" [icon]="'fa fa-file'"></app-page-header>
  <div class="container">
    <div>
      <form #cityForm="ngForm" (ngSubmit)="onSubmit(cityForm)">
        <div class="card card-outline-secondary">
          <div class="card-body">
            <div class="form-group row">
              <div class="col-lg-12">
                <input class="form-control" type="hidden" name="ID" #name="ngModel" [(ngModel)]="apiService.selectedModel.ID">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Country</label>
              <div class="col-lg-9">
                <select class="form-control" name="CountryID" #name="ngModel" [(ngModel)]="selectedCountry.ID" (change)="onSelectCountry($event.target.value)" required>
                  <option [ngValue]="0">Please Select</option>
                  <option *ngFor="let _country of countryMaster" value={{_country.ID}}> {{_country.CountryName}}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">State</label>
              <div class="col-lg-9">
                <select class="form-control" name="StateID" #name="ngModel" [(ngModel)]="apiService.selectedModel.StateID"
                  required>
                  <option [ngValue]="0">Please Select</option>
                  <option *ngFor="let _state of stateMaster" [ngValue]="_state.ID">
                    {{_state.StateName}}
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">City Name</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" name="CityName" #name="ngModel" [(ngModel)]="apiService.selectedModel.CityName"
                  placeholder="City Name">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Is Active</label>
              <div class="col-lg-9">
                <input class="checkbox-inline" type="checkbox" name="IsActive" #name="ngModel" [(ngModel)]="apiService.selectedModel.IsActive">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"></label>
              <div class="col-lg-2">
                <button type="submit" class="btn btn-info" [disabled]="!cityForm.valid">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i> {{submitType}}
                </button>
              </div>
              <div class="col-lg-2">
                <button type="submit" class="btn btn-danger" type="button" (click)="resetForm(cityForm)">
                  <i class="fa fa-repeat"></i>
                  Reset</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <br>

    <div class="card card-outline-secondary">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Country</th>
            <th>State</th>
            <th>City</th>
            <th>Is Active ?</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let _city of cityMaster | paginate: { id: 'listing_pagination',
                      itemsPerPage: 10,
                      currentPage: page,
                      totalItems: totalRec };">
            <td>{{_city.StateMaster.CountryMaster.CountryName}}</td>
            <td>{{_city.StateMaster.StateName}}</td>
            <td>{{_city.CityName}}</td>
            <td>{{_city.IsActive ? 'Yes':'No'}}</td>
            <td>

              <button type="submit" class="btn btn-info" type="button" (click)="editCityMaster(_city.StateMaster.CountryMaster.ID)">
                <i class="fa fa-pencil-square-o"></i>
                Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>
