<div [@routerTransition]>
  <app-page-header [heading]="'Business Reviews'" [icon]="'fa fa-star-o'"></app-page-header>
  <form #businessreviewForm="ngForm">
    <div class="card card-outline-secondary">
      <div class="card-body">
        <div class="form-group row">
          <div class="col-lg-1">
            <img class="user-avatar" src="assets/images/logo1.png" height="90px;" />
          </div>
          <div class="col-lg-11">
            <label class="col-form-label form-control-label" style="font-weight: bold;">Waahelay User</label>
            <label class="col-form-label form-control-label" style="padding-left: 5px; padding-right: 5px;">On</label>
            <label class="col-form-label form-control-label" style="padding-right: 5px;">ABC Restaurant</label>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star-o"></span>
            <br />
            <label class="col-form-label form-control-label">January 2019</label>
            <br />
            <label class="col-form-label form-control-label">Had dinner with friends. Menu is perfect, something for
              everyone. Service was awesome. Will be back definitely! Had dinner with friends. Menu is perfect,
              something for
              everyone. Service was awesome. Will be back definitely!Had dinner with friends. Menu is perfect,
              something for
              everyone. Service was awesome. Will be back definitely!</label>
          </div>
        </div>
        <hr style="border: 1px solid #1C77C0;" />
        <div class="form-group row">
          <div class="col-lg-1">
            <img class="user-avatar" src="assets/images/logo1.png" height="90px;" />
          </div>
          <div class="col-lg-11">
            <label class="col-form-label form-control-label" style="font-weight: bold;">Waahelay User</label>
            <label class="col-form-label form-control-label" style="padding-left: 5px; padding-right: 5px;">On</label>
            <label class="col-form-label form-control-label" style="padding-right: 5px;">PQR Restaurant</label>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star-half-empty"></span>
            <span class="fa fa-star-o"></span>
            <br />
            <label class="col-form-label form-control-label">December 2018</label>
            <br />
            <label class="col-form-label form-control-label">Had dinner with friends. Menu is perfect, something for
              everyone. Service was awesome. Will be back definitely! Had dinner with friends. Menu is perfect,
              something for
              everyone. Service was awesome. Will be back definitely!Had dinner with friends. Menu is perfect,
              something for
              everyone. Service was awesome. Will be back definitely!</label>
          </div>
        </div>
        <hr style="border: 1px solid #1C77C0;" />
        <div class="form-group row">
          <div class="col-lg-1">
            <img class="user-avatar" src="assets/images/logo1.png" height="90px;" />
          </div>
          <div class="col-lg-11">
            <label class="col-form-label form-control-label" style="font-weight: bold;">Waahelay User</label>
            <label class="col-form-label form-control-label" style="padding-left: 5px; padding-right: 5px;">On</label>
            <label class="col-form-label form-control-label" style="padding-right: 5px;">XYZ Restaurant</label>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            <br />
            <label class="col-form-label form-control-label">November 2018</label>
            <br />
            <label class="col-form-label form-control-label">Had dinner with friends. Menu is perfect, something for
              everyone. Service was awesome. Will be back definitely! Had dinner with friends. Menu is perfect,
              something for
              everyone. Service was awesome. Will be back definitely!Had dinner with friends. Menu is perfect,
              something for
              everyone. Service was awesome. Will be back definitely!</label>
          </div>
        </div>
      </div>
    </div>
  </form>
