


<div class="login-page">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <label class="col-form-label form-control-label">
        <img class="user-avatar" src="assets/images/logo.png" width="150px" />
        <h1 style="color:black">Log In to Waahelay for Business Owners</h1>
      </label>
      <form role="form">
        <div class="form-content">
          <div class="form-group">
            <input type="text" ng-model="name" class="form-control input-underline input-lg" id="businessusername" placeholder="{{ 'Email' | translate }}">
          </div>
          <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" id="businesspassword" placeholder="{{ 'Password' | translate }}">
          </div>
          <div class="form-group">
            <label class="checkbox float-left">
            </label>
            <a href="#" class="float-right">Forgot your password?</a>
          </div>
          <div class="form-group">
            <a class="btn rounded-btn" [routerLink]="['/dashboard']">{{ 'Log In' | translate }}</a>
          </div>
          <div class="form-group">
            <label class="col-form-label form-control-label" style="color:black"> By logging in you agree to Waahelay's
              <a [routerLink]="['/landing']">{{ 'Terms of Service' | translate }}</a>
              and <a [routerLink]="['/landing']">{{ 'Privacy policy' | translate }}</a></label>
          </div>
          <div class="form-group">
            <label class="col-form-label form-control-label" style="color:black"> Don't have a business user account?
              <a [routerLink]="['/business-signup']">{{ 'Claim your business' | translate }}</a></label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

