<div [@routerTransition]>
  <app-page-header [heading]="'Check Your Inbox to Confirm Your Email Address'" [icon]="'fa fa-file'"></app-page-header>
  <div>
    <label class="col-form-label form-control-label">
      We sent an email to <b> {{emailAddress}}. </b> Please click the link in the email to continue submitting your business
      page to Waahaley.
    </label>
    <br />
    <label class="col-form-label form-control-label">
      If you do not see the email in your inbox, check your spam or junk mail folder. If the email address listed above
      is incorrect, resubmit the form on the previous page with the correct email address.
    </label>
  </div>
</div>
